<h1>¡Bienvenidos al Chat comunitario!</h1>
<div>
 <input id="chatBox">
</div>
<div>
 <p id="messageLogs"></p>
</div>
{{!-- Ejemplo de multer --}}
<h1>E-Commerce</h1>
<a href="./img/20220619_154643.jpg">Cat</a>
<a href="./api/carts">Carrito</a>
<a href="./api/products">Productos</a>
<form action="/users" method="POST" enctype="multipart/form-data">
 <label for="first_name">Nombre</label>
 <input type="text" name="first_name" />
 <label for="last_name">Apellido</label>
 <input type="text" name="last_name" />
 <label for="age">Edad</label>
 <input type="text" name="age" />
 <label for="email">Email</label>
 <input type="text" name="email" />
 <label for="number">Número</label>
 <input type="text" name="number" />
 <label for="img">Imágen</label>
 <input type="file" name="file" />
 <button type="submit">Submit</button>
</form>